<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Crypto Info</title>
</head>
<body>
<div class="container">
  <h1 class="mt-3">Crypto Info</h1>
  <% if @errors %>
    <div class="alert alert-danger mt-3">
      <h4>Oops! Something went wrong</h4>
      <ul>
        <% @errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
