<form action="/currencies/compare" method="post">
  <div class="form-row">
    <div class="form-group col-4">
      <label for="currency_one">Show value of this currency</label>
      <input name="currency_one" type="text" class="form-control" required>
      <small class="form-text text-muted">e.g BTC</small>
    </div>
    <div class="form-group col-4">
      <label for="currency_two">in terms of this currency</label>
      <input name="currency_two" type="text" class="form-control" required>
      <small class="form-text text-muted">e.g ETH</small>
    </div>
    <div class="form-group col-4">
      <label for="fiat">through this fiat</label>
      <input name="fiat" type="text" class="form-control" required>
      <small class="form-text text-muted">e.g GBP</small>
    </div>
  </div>

  <button class="btn btn-primary">Submit</button>
</form>

<% if @valuation %>
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <%= @first_currency.id %> is <strong id="valuation"><%= @valuation.to_f %></strong> <%= @second_currency.id %> (through <%= @first_currency.fiat %>)
    </div>
  </div>
<% end %>