<form action="/currencies" method="post">
  <div class="form-row">
    <div class="form-group col-8">
      <label for="ids">Input list of ids</label>
      <input name="ids" type="text" class="form-control" required>
      <small class="form-text text-muted">e.g BTC or BTC, ETH</small>
    </div>
    <div class="form-group col-4">
      <label for="fiat">Fiat conversion</label>
      <input name="fiat" type="text" class="form-control">
      <small class="form-text text-muted">e.g GBP or AUD, if empty defaults to USD</small>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label for="attribute_filters">Filter attributes displayed</label>
      <input name="attribute_filters" type="text" class="form-control">
      <small class="form-text text-muted">e.g name, price, price_date</small>
    </div>
  </div>

  <button class="btn btn-primary">Submit</button>
</form>

<% if @currencies %>
  <% @currencies.each do |currency| %>
    <h3 class="mt-3"><%= currency.name %></h3>
    <table class="table">
      <tbody>
        <% currency.attributes.each do |att| %>
          <% next if att == :name %>
          <tr>
            <th><%= att %></th>
            <td id="<%= "#{currency.name}Price" if att == :price %>"><%= currency.public_send(att) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>